<h1 class="text-lg font-bold">Welcome to the Site!</h1>
<p><a class="rounded-sm bg-green-400 px-3 py-1" href="/users/login">Login</a> or <a class="rounded-sm bg-gray-400 px-3 py-1" href="/users/register">Register</a></p>
